<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>BigDataVue</title>
  </head>
  <body>
  <div id="app"> </div>

  </body>
</html>

<style>
  * {
    margin: 0;
  }
  html { height: 100%; }
  body{height: 100%}


</style>
