<template>
    <div id="banner">
        <div class="logoMain">
            <router-link class="logoText" to="/">alfrek</router-link>
        </div>

        <div class="topLinks">
        </div>

        <div class="bottomLinks">
            <a class="text"> Solution </a>
        </div>

        <div class="accountDropdown">
            <button class="accountDrop"> Accountⱴ </button>
            <div class="dropdown-content">
                <a href="#home">Home</a>
                <a href="#news">News</a>
            </div>
        </div>
    </div>
</template>

<script>
 export default {
  name: "Banner",
  data() {
   return {};
  },
  methods: {
   logOut() {
    this.$store.dispatch('doLogout');
   }
  },
 }
</script>


<style scoped>
    #banner {
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 1fr;
        max-height: 75px;
        min-height: 75px;
        overflow: hidden;
    }

    .logoMain {
        border-right: 2px solid blue;
        justify-self: center;
        align-self: center;
        grid-column-start: 1;
        grid-column-end: ;
        grid-row-start: 1;
        grid-row-end: 3;

    }

    .logoText {
        font-family: "arial";
        font-size: 150%;
        color: white;
        text-decoration: none;
        margin-right: 10px;
    }

    .accountDropdown {
        font-family: "Helvetica Neue";
        background-color: black;
        justify-self: center;
        align-self: center;
        grid-column: 3;
        grid-row-start: 2;
        overflow: hidden;
    }

    .account a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .accountDrop {
        font-size: larger;
        color: white;
        text-decoration: none;
       // font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #ddd;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .topLinks {
        //background: linear-gradient(0deg, #020504, #0f12aa 500%);
        font-size: medium;
        grid-column: 2;
        grid-row: 1;
        padding-top: 5px;
    }

    .topLinks .text {
        font-family: "Helvetica Neue";
        text-decoration: none;
        color: white;
    }

    .bottomLinks {
        color: white;
        text-decoration: none;
        grid-column: 2;
        grid-row: 2;
        justify-self: center;
        align-self: end;
    }

    .bottomLinks .text {
        font-family: "Helvetica Neue";
        font-size: larger;
        text-decoration: none;
        margin-top: 10px;

    }


</style>
