<template>
    <div id="feed1">
        <div class="center">
        </div>
        <div class="right" v-if>
        </div>
    </div>
</template>

<script>
 import Login from "../components/Login";

 export default {
  name: 'Feed',
  components: {},
  data() {
   return {
    showlogin: true,
    text: ''
   };
  }
 };
</script>

<style scoped>
    #feed1 {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr auto;

    }

    .right {
        margin-top: 20px;
        margin-right: 3%;
    }

    .center {
        font-family: "Comic Sans MS";
        grid-column: 2;
        align-content: center;
        justify-self: center;
        margin-top: 50px;
    }

</style scoped>
