<template>
    <div id="login">

        <p>Login</p>
        <label class="email">Email</label>
        <input id="emailInput" v-model="email" required type="text" placeholder="Email / Username"/>

        <label class="pass">Password</label>
        <input id="passInput" v-model="password" required type="password" placeholder="Password"/>

        <div class="buttons">
            <button id="login-btn" @click="login" type="submit">Login</button>
        </div>
    </div>


</template>

<script>
 import axios from 'axios'

 export default {
  data() {
   return {
    email: '',
    password: '',
    token: '',
    resp: ''
   }
  },
  methods: {
   async login() {

    await axios.post('https://localhost:44395/account/login', {
     email: this.email,
     password: this.password
    }).then(response => {
            console.log(response),
             this.$store.dispatch('doToken', response.data.token),
             this.$store.dispatch('doEmail', response.data.email)
            }
    ).catch(error =>
     console.log(error)
    )
    }
   }
 }

</script>

<style scoped>


    #login {
        box-shadow: -1px 1px 10px black;
        background-color: whitesmoke;
        //margin-top: 10%;
        color: black;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr 1fr 0.3fr;
    }

    .email {
        font-family: Calibri;
        font-size: medium;
        grid-column: 1;
        grid-row: 2;
        max-height: 50%;
    }
    #emailInput{
        font-family: Calibri;
        background-color: whitesmoke;
        border: none;
        border-bottom: 1px black dotted;
        margin-left: 2px;
        grid-column: 2;
        justify-self: start;
        align-self: center;
    }

    .pass {
        font-family: Calibri;
        font-size: medium;
        grid-row: 3;
        max-height: 50%;

    }
    #passInput{
        font-family: Calibri;
        background-color: whitesmoke;
        border: none;
        border-bottom: 1px black dotted;
        margin-right: 10px;
        align-self: center;
        margin-left: 2px;
    }

    .buttons {

        margin-bottom: 2%;
        justify-content: center;
        grid-row: 4;
        grid-column: 2 / 3;
    }

    .buttons #login-btn{
        font-family: Calibri;
        background: whitesmoke;
        border: none;
        cursor: pointer;
    }


    p {
        color: white;
        padding: 10px;
        grid-column: 1 / span 2;
        font-size: large;
        background-color: black;
        font-family:  "Courier New";;

    }



    label {
        margin-left: 10px;
        align-self: center;
    }

</style>
