
<template>
    <div id="Register">
        <h1 class="text">Register</h1> <br>


        <label class="reg" for="Register"> Email </label>
        <input class="reg" type="text" v-model="Email" placeholder=" Enter Emil"/>

        <label class="pass" for="Register">Password</label>
        <input class="pass" type="Password" v-model="Password" placeholder=" Enter Password" required/>
        <div class="buttons">
            <button @click="register" class="butt">Register</button>
        </div>


    </div>
</template>

<script>
 import axios from 'axios'

    export default {
     name: "Register",
     data() {
      return {

       Email: '',
       Password: ''
      }
     },

     methods: {

      register() {
       axios.post('https://localhost:44395/account/register', {
                   Email: this.Email,
                   Password: this.Password

                  }).catch(function (error) {
                     console.log(error)
                  });
      }
     }
    }

</script>

<style scoped>

#Register{
    margin-top: 10%;
    color: black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.reg{
    font-family: "Palatino Linotype";
    font-size: 120%;
    grid-row: 2;
    max-height: 50%;
}
.pass {
    font-family: "Palatino Linotype";
    font-size: 120%;
    grid-row: 3;
    max-height: 50%;
}
.buttons {
    min-width: 100%;
    justify-self: start;
    align-self: center;
    grid-row: 4;
    grid-column: 1 / 3;
}
h1{
    font-family: "Palatino Linotype";
    margin-bottom: 10%;
}
input{
    align-self: center;
}
label{
    align-self: center;
}

</style>
