<template>
    <div id="app">
        <div class="banner">
            <Banner>

            </Banner>
        </div>
        <div class="feed">
            <Feed>

            </Feed>
        </div>
    </div>
</template>
<script>
 import Feed from "./components/Feed";
 import Banner from "./components/Banner";
 import Display from "./components/Display"
 import Login from "./components/Login";


 export default {
  Name: 'app',
  components: {
   Display, Banner, Feed, Login
  }
 };
</script>
<style>
    #app {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 75px 100%;
        height: 100%;
    }

    .feed {
        background-color: white;
        z-index: 0;
        grid-column-start: 1;
        grid-column-end: 4;
        height: 100%;
    }

    .banner {
        background-color: black;
        z-index: 4;
        min-height: 75px;
        grid-column: 1 / 4;
        box-shadow: 2px 5px 10px grey;
    }

    h1 {
        font-family: "Palatino Linotype";

    }
</style>
